Repository wowo-zZ/astron-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-knowledge, isort-workflow, isort-agent, isort-plugin, flake8-agent, flake8-workflow, flake8-knowledge, flake8-plugin, mypy-agent, mypy-workflow, mypy-knowledge, mypy-database, mypy-aitools, mypy-link, mypy-rpa, pylint-agent, pylint-workflow, pylint-knowledge, pylint-database, pylint-aitools, pylint-link, pylint-rpa, prettier-check, eslint-check, golangci-lint, go-fmt-check, go-imports-check, go-vet, spotless-check, checkstyle

isort-knowledge:
  name: Check Python imports (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-workflow:
  name: Check Python imports (workflow)
  entry: bash -c 'cd core/workflow && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-agent:
  name: Check Python imports (agent)
  entry: bash -c 'cd core/agent && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-plugin:
  name: Check Python imports (plugin)
  entry: bash -c 'cd core/plugin/aitools && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

flake8-agent:
  name: Lint Python with Flake8 (agent)
  entry: bash -c 'cd core/agent && python3 -m flake8 .'
  language: system
  pass_filenames: false

flake8-workflow:
  name: Lint Python with Flake8 (workflow)
  entry: bash -c 'cd core/workflow && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

flake8-knowledge:
  name: Lint Python with Flake8 (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

flake8-plugin:
  name: Lint Python with Flake8 (plugin)
  entry: bash -c 'cd core/plugin/rpa && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

mypy-agent:
  name: Type check Python with mypy (agent)
  entry: bash -c 'cd core/agent && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-workflow:
  name: Type check Python with mypy (workflow)
  entry: bash -c 'cd core/workflow && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-knowledge:
  name: Type check Python with mypy (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-database:
  name: Type check Python with mypy (database)
  entry: bash -c 'cd core/memory/database && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

eslint-check:
  name: Lint TypeScript with ESLint
  entry: bash -c 'cd console/frontend && npx eslint "src/**/*.{ts,tsx}" --quiet'
  language: system
  pass_filenames: false

fix: correct workflow tool node debugging logic not executing properly (#707)
  console/frontend/src/components/workflow/nodes/components/fixed-inputs/index.tsx
  console/frontend/src/components/workflow/utils/reactflowUtils.ts
Due: prettier-check, eslint-check

ci: temporarily disable comment-check job (#708)
  .github/workflows/ci.yml
Due: none

chore: agent project workflow-agent interface modify model prompts and add logs
  core/agent/api/v1/workflow_agent.py
  core/agent/engine/nodes/cot/cot_prompt.py
Due: isort-agent, flake8-agent, mypy-agent, pylint-agent

feat(security): add gitleaks secret scanning to pre-commit (#711)
  .pre-commit-config.yaml
Due: none

docs: add pre-commit usage guide and update contributing docs (#713)
  CONTRIBUTING.md
  CONTRIBUTING_CN.md
  docs/PRE-COMMIT.md
  docs/PRE-COMMIT_zh.md
Due: none

Update V1.16__insert_workflow_data.sql (#714)
  console/backend/hub/src/main/resources/db/migration/V1.16__insert_workflow_data.sql
Due: none

fix(link):add link api result span log
  core/plugin/link/service/community/tools/mcp/mcp_server.py
  core/plugin/link/service/enterprise/extension.py
Due: isort-plugin, mypy-link, pylint-link

doc:update readme document
  README-zh.md
  README.md
Due: none

fix(docker): prevent docker compose from modifying local files (#721)
  docker/astronAgent/casdoor/entrypoint.sh
  docker/astronAgent/docker-compose-auth.yml
Due: none

fix:Optimize K8S deployment
  helm/astron-agent/templates/configmaps.yaml
  helm/astron-agent/templates/infrastructure/mysql-statefulset.yaml
Due: none

fix:Optimize K8S deployment
  helm/astron-agent/templates/console/console-hub-deployment.yaml
  helm/astron-agent/templates/core/core-services.yaml
  helm/astron-agent/values.yaml
Due: none

fix:Optimize K8S deployment
  helm/README.md
  helm/astron-agent/files/casdoor/conf/app.conf
  helm/astron-agent/values.yaml
Due: none

feat(start-node): replace input with textarea for workflow start node (#726)
  console/frontend/src/components/workflow/drawer/chat-debugger/components/chat-input.tsx
  console/frontend/src/components/workflow/nodes/node-common/index.tsx
  console/frontend/src/styles/flow.scss
Due: prettier-check, eslint-check

docs: move README-zh.md and CONTRIBUTING_CN.md to docs directory (#727)
  README.md
  docs/CONTRIBUTING_CN.md
  docs/README-zh.md
Due: none

fix: improve ragflow dataset resolution
  core/knowledge/infra/ragflow/ragflow_client.py
Due: isort-knowledge, flake8-knowledge, mypy-knowledge, pylint-knowledge

chore: agent project v1 workflow interface model url parameter optimization
  core/agent/api/v1/workflow_agent.py
  core/agent/exceptions/base.py
  core/agent/service/builder/base_builder.py
  core/agent/service/runner/workflow_agent_runner.py
  core/agent/tests/test_base_builder.py
  core/agent/tests/test_router_and_schemas.py
  core/agent/tests/test_runner_base_and_chat_cot.py
Due: isort-agent, flake8-agent, mypy-agent, pylint-agent

chore: agent project config file modification
  core/agent/config.env
Due: none

feat(S3): add unique file name for presigned URL
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/controller/S3Controller.java
Due: spotless-check, checkstyle

fix(S3): correct presigned URL file name response
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/controller/S3Controller.java
Due: spotless-check, checkstyle

Update console/backend/hub/src/main/java/com/iflytek/astron/console/hub/controller/S3Controller.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/controller/S3Controller.java
Due: spotless-check, checkstyle

Fix/rename file，fix issue: https://github.com/iflytek/astron-agent/issues/720 (#739)
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/controller/S3Controller.java
Due: spotless-check, checkstyle

docs:Add new FAQ document
  .gitignore
  FAQ.md
  faq/config.md
  faq/contrib.md
  faq/runtime.md
  faq/setup.md
  faq/troubleshooting.md
  helm/astron-agent/templates/secrets.yaml
Due: none

fix(ui): expand button click area (#743)
  console/frontend/src/components/workflow/nodes/node-common/index.tsx
  console/frontend/src/components/workflow/panel/index.tsx
Due: prettier-check, eslint-check

feat: enhance node capabilities, stability, and timeout handling
  core/workflow/api/v1/flow/layout.py
  core/workflow/config.env
  core/workflow/domain/entities/flow.py
  core/workflow/domain/entities/response.py
  core/workflow/engine/dsl_engine.py
  core/workflow/engine/entities/node_entities.py
  core/workflow/engine/entities/variable_pool.py
  core/workflow/engine/entities/workflow_dsl.py
  core/workflow/engine/node.py
  core/workflow/engine/nodes/agent/agent_node.py
  core/workflow/engine/nodes/base_node.py
  core/workflow/engine/nodes/cache_node.py
  core/workflow/engine/nodes/code/executor/base_executor.py
  core/workflow/engine/nodes/code/executor/ifly/ifly_executor.py
  core/workflow/engine/nodes/code/executor/ifly/ifly_executor_v2.py
  core/workflow/engine/nodes/flow/flow_node.py
  core/workflow/engine/nodes/global_variables/global_variables_node.py
  core/workflow/engine/nodes/knowledge_pro/knowledge_pro_node.py
  core/workflow/engine/nodes/mcp/mcp_node.py
  core/workflow/engine/nodes/pgsql/pgsql_node.py
  core/workflow/engine/nodes/question_answer/question_answer_node.py
  core/workflow/exception/errors/err_code.py
  core/workflow/exception/errors/third_api_code.py
  core/workflow/extensions/fastapi/handler/validation.py
  core/workflow/extensions/middleware/cache/manager.py
  core/workflow/extensions/otlp/trace/span.py
  core/workflow/service/chat_service.py
  core/workflow/service/publish_service.py
  core/workflow/utils/validation.py
  docker/astronAgent/config/workflow/config.env
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix: update avatar URL state and improve chat page localization (#735)
  console/frontend/src/components/virtual-config-modal/index.tsx
  console/frontend/src/locales/en-En/openPlatform-En/chatPage.ts
  console/frontend/src/locales/zh-ZH/openPlatform-ZH/chatPage.ts
  console/frontend/src/pages/chat-page/components/audio-animate.tsx
  console/frontend/src/pages/chat-page/components/multi-upload-buttons.tsx
  console/frontend/src/pages/chat-page/components/recorder-com.tsx
  console/frontend/src/pages/chat-page/components/resq-bottom-buttons.tsx
  console/frontend/src/pages/chat-page/index.tsx
  console/frontend/src/styles/classes.scss
  console/frontend/src/utils/index.ts
Due: prettier-check, eslint-check

fix: MCP node timeout and output validation
  core/workflow/engine/nodes/mcp/mcp_node.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix:Modify file upload size limit
  README.md
  docker/astronAgent/nginx/nginx.conf
  docs/README-zh.md
  helm/astron-agent/templates/ingress.yaml
Due: none

fix: add default empty string for chat_id and uid params in FlowNode
  core/workflow/engine/nodes/flow/flow_node.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix(link): add async response handling to /tools/http_run and kafka background task submissions; add null check for mcp URL
  core/plugin/link/config.env
  core/plugin/link/consts/const.py
  core/plugin/link/consts/keys/xc_utils_keys.py
  core/plugin/link/service/community/tools/http/execution_server.py
  core/plugin/link/service/community/tools/mcp/mcp_server.py
  docker/astronAgent/config/link/config.env
  helm/astron-agent/files/config/link/config.env
Due: isort-plugin, mypy-link, pylint-link

Bugfix/workflow export yaml (#755)
  console/frontend/src/components/workflow/nodes/node-common/index.tsx
  console/frontend/src/components/workflow/panel/index.tsx
  console/frontend/src/pages/chat-page/components/audio-animate.tsx
  console/frontend/src/pages/chat-page/components/recorder-com.tsx
  console/frontend/src/pages/space-page/agent-page/index.tsx
Due: prettier-check, eslint-check

fix(link):fix the otlp caller tag
  core/plugin/link/service/community/deprecated/management_server.py
  core/plugin/link/service/community/tools/http/execution_server.py
  core/plugin/link/service/community/tools/http/management_server.py
  core/plugin/link/service/community/tools/mcp/mcp_server.py
  core/plugin/link/service/enterprise/extension.py
Due: isort-plugin, mypy-link, pylint-link

fix: unify field types for trace log reporting
  core/common/otlp/log_trace/node_log.py
  core/common/otlp/log_trace/node_trace_log.py
Due: none

fix: correct the test cases
  core/common/tests/test_otlp_log_trace.py
Due: none

chore: database project ddl statements and database connection caching optimization
  core/memory/database/api/v1/exec_ddl.py
  core/memory/database/domain/entity/schema.py
  core/memory/database/tests/exec_ddl_test.py
  core/memory/database/utils/retry.py
Due: mypy-database, pylint-database

chore: database project ddl statements and unit test optimization
  core/memory/database/api/v1/exec_ddl.py
  core/memory/database/tests/db_operator_test.py
  core/memory/database/tests/exec_ddl_test.py
Due: mypy-database, pylint-database

chore: database project link log and corresponding unit test optimization
  core/memory/database/api/schemas/exec_dml_types.py
  core/memory/database/api/schemas/export_data_types.py
  core/memory/database/api/v1/common.py
  core/memory/database/api/v1/db_operator.py
  core/memory/database/api/v1/exec_ddl.py
  core/memory/database/api/v1/exec_dml.py
  core/memory/database/api/v1/export_data.py
  core/memory/database/tests/common_test.py
  core/memory/database/tests/exec_ddl_test.py
  core/memory/database/tests/exec_dml_test.py
  core/memory/database/tests/export_data_test.py
Due: mypy-database, pylint-database

fix(link): Switch Kafka log reporting to run in the background via a task queue
  core/plugin/link/app/start_server.py
  core/plugin/link/config.env
  core/plugin/link/consts/const.py
  core/plugin/link/consts/keys/xc_utils_keys.py
  core/plugin/link/service/community/tools/http/execution_server.py
  docker/astronAgent/config/link/config.env
  helm/astron-agent/files/config/link/config.env
Due: isort-plugin, mypy-link, pylint-link

fix: S3Util endpoint configuration bug
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/util/S3Util.java
Due: spotless-check, checkstyle

fix: 修复文件上传 413 错误 - 前端 nginx 添加上传大小限制
  console/frontend/nginx.conf
Due: none

Path conditions:
  isort-knowledge: any of: ^core/knowledge/.*\.py$
  isort-workflow: any of: ^core/workflow/.*\.py$
  isort-agent: any of: ^core/agent/.*\.py$
  isort-plugin: any of: ^core/plugin/.*\.py$
  flake8-agent: any of: ^core/agent/.*\.py$
  flake8-workflow: any of: ^core/workflow/.*\.py$
  flake8-knowledge: any of: ^core/knowledge/.*\.py$
  flake8-plugin: any of: ^core/plugin/rpa/.*\.py$
  mypy-agent: any of: ^core/agent/.*\.py$
  mypy-workflow: any of: ^core/workflow/.*\.py$
  mypy-knowledge: any of: ^core/knowledge/.*\.py$
  mypy-database: any of: ^core/memory/database/.*\.py$
  mypy-aitools: any of: ^core/plugin/aitools/.*\.py$
  mypy-link: any of: ^core/plugin/link/.*\.py$
  mypy-rpa: any of: ^core/plugin/rpa/.*\.py$
  pylint-agent: any of: ^core/agent/.*\.py$
  pylint-workflow: any of: ^core/workflow/.*\.py$
  pylint-knowledge: any of: ^core/knowledge/.*\.py$
  pylint-database: any of: ^core/memory/database/.*\.py$
  pylint-aitools: any of: ^core/plugin/aitools/.*\.py$
  pylint-link: any of: ^core/plugin/link/.*\.py$
  pylint-rpa: any of: ^core/plugin/rpa/.*\.py$
  prettier-check: any of: ^console/frontend/src/.*\.(ts|tsx|js|jsx|json|md)$
  eslint-check: any of: ^console/frontend/src/.*\.(ts|tsx)$
  golangci-lint: any of: ^core/tenant/.*\.go$
  go-fmt-check: any of: ^core/tenant/.*\.go$
  go-imports-check: any of: ^core/tenant/.*\.go$
  go-vet: any of: ^core/tenant/.*\.go$
  spotless-check: any of: ^console/backend/.*\.java$
  checkstyle: any of: ^console/backend/.*\.java$
