Repository wowo-zZ/astron-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-knowledge, isort-workflow, isort-agent, isort-plugin, flake8-agent, flake8-workflow, flake8-knowledge, flake8-plugin, mypy-agent, mypy-workflow, mypy-knowledge, mypy-database, mypy-aitools, mypy-link, mypy-rpa, pylint-agent, pylint-workflow, pylint-knowledge, pylint-database, pylint-aitools, pylint-link, pylint-rpa, prettier-check, eslint-check, golangci-lint, go-fmt-check, go-imports-check, go-vet, spotless-check, checkstyle

isort-knowledge:
  name: Check Python imports (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-workflow:
  name: Check Python imports (workflow)
  entry: bash -c 'cd core/workflow && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-agent:
  name: Check Python imports (agent)
  entry: bash -c 'cd core/agent && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-plugin:
  name: Check Python imports (plugin)
  entry: bash -c 'cd core/plugin/aitools && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

flake8-agent:
  name: Lint Python with Flake8 (agent)
  entry: bash -c 'cd core/agent && python3 -m flake8 .'
  language: system
  pass_filenames: false

flake8-workflow:
  name: Lint Python with Flake8 (workflow)
  entry: bash -c 'cd core/workflow && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

flake8-knowledge:
  name: Lint Python with Flake8 (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

flake8-plugin:
  name: Lint Python with Flake8 (plugin)
  entry: bash -c 'cd core/plugin/rpa && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

mypy-agent:
  name: Type check Python with mypy (agent)
  entry: bash -c 'cd core/agent && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-workflow:
  name: Type check Python with mypy (workflow)
  entry: bash -c 'cd core/workflow && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-knowledge:
  name: Type check Python with mypy (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-database:
  name: Type check Python with mypy (database)
  entry: bash -c 'cd core/memory/database && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

eslint-check:
  name: Lint TypeScript with ESLint
  entry: bash -c 'cd console/frontend && npx eslint "src/**/*.{ts,tsx}" --quiet'
  language: system
  pass_filenames: false

docs:Modify deployment documentation
  docker/astronAgent/casdoor/conf/init_data.json.template
  docker/astronAgent/docker-compose-auth.yml
  docker/astronAgent/docker-compose.yaml
  docs/DEPLOYMENT_GUIDE_WITH_AUTH.md
  docs/DEPLOYMENT_GUIDE_WITH_AUTH_zh.md
Due: none

chore: database project optimization of dml time string processing logic and addition of kong automatic gateway discovery
  core/memory/database/api/v1/exec_dml.py
  core/memory/database/main.py
  core/memory/database/pyproject.toml
  core/memory/database/tests/exec_dml_test.py
  core/memory/database/uv.lock
Due: mypy-database, pylint-database

feat(plugin):add extension load
  core/plugin/aitools/app/start_server.py
  core/plugin/aitools/main.py
  core/plugin/link/app/start_server.py
  core/plugin/link/main.py
  core/plugin/link/service/community/tools/http/execution_server.py
  core/plugin/link/tests/integration/test_api_endpoints.py
  core/plugin/link/tests/unit/test_main.py
  core/plugin/rpa/api/app.py
  core/plugin/rpa/main.py
  core/plugin/rpa/tests/unit/test_main.py
Due: isort-plugin, flake8-plugin, mypy-aitools, mypy-link, mypy-rpa, pylint-aitools, pylint-link, pylint-rpa

feat: add plugin import and export support (#850)
  console/frontend/src/assets/imgs/plugin/icon_export.png
  console/frontend/src/components/modal/plugin/hooks/use-create-tool.tsx
  console/frontend/src/components/modal/plugin/import/index.tsx
  console/frontend/src/components/modal/plugin/index.tsx
  console/frontend/src/locales/en-En/plugin.ts
  console/frontend/src/locales/zh-ZH/plugin.ts
  console/frontend/src/pages/resource-management/plugin-page/components/card-item/index.module.scss
  console/frontend/src/pages/resource-management/plugin-page/components/card-item/index.tsx
  console/frontend/src/services/plugin.ts
Due: prettier-check, eslint-check

fix(plugin):remove unnecessary python path
  core/plugin/aitools/app/start_server.py
  core/plugin/aitools/main.py
  core/plugin/link/app/start_server.py
  core/plugin/link/main.py
  core/plugin/rpa/api/app.py
  core/plugin/rpa/main.py
Due: isort-plugin, flake8-plugin, mypy-aitools, mypy-link, mypy-rpa, pylint-aitools, pylint-link, pylint-rpa

feat(rpa):add phone number param
  core/plugin/rpa/api/schemas/execution_schema.py
  core/plugin/rpa/api/v1/execution.py
  core/plugin/rpa/infra/xiaowu/tasks.py
  core/plugin/rpa/service/xiaowu/process.py
  core/plugin/rpa/tests/integration/test_api_integration.py
  core/plugin/rpa/tests/unit/api/schemas/test_execution_schema.py
  core/plugin/rpa/tests/unit/api/v1/test_execution.py
  core/plugin/rpa/tests/unit/infra/xiaowu/test_tasks.py
  core/plugin/rpa/tests/unit/service/xiaowu/test_process.py
Due: isort-plugin, flake8-plugin, mypy-rpa, pylint-rpa

refactor(rpa):add create task info log
  core/plugin/rpa/infra/xiaowu/tasks.py
Due: isort-plugin, flake8-plugin, mypy-rpa, pylint-rpa

docs:Update the FAQ document
  faq/assets/p10_img1_b347613c90.png
  faq/assets/p10_img2_4449fb26ec.png
  faq/assets/p11_img1_fe633d4d47.png
  faq/assets/p12_img1_57d9a2a545.png
  faq/assets/p12_img2_356897dc11.png
  faq/assets/p12_img3_5f979ae479.png
  faq/assets/p13_img1_449f233261.png
  faq/assets/p13_img2_52c87bf72f.png
  faq/assets/p13_img3_330327572f.png
  faq/assets/p13_img4_c38d6df852.png
  faq/assets/p13_img5_19834fc925.png
  faq/assets/p5_img1_e97eef93a5.png
  faq/assets/p5_img2_58f50e49c3.png
  faq/assets/p7_img1_94d3b310ae.png
  faq/config.md
  faq/features.md
  faq/models.md
  faq/setup.md
  faq/troubleshooting.md
Due: none

docs:Update the FAQ document
  faq/contrib.md
  faq/runtime.md
Due: none

docs:Update the FAQ document
  FAQ.md
  faq/models.md
Due: none

docs:Update the FAQ document
  faq/assets/img1.png
  faq/assets/img2.png
  faq/assets/img3.png
  faq/features.md
Due: none

fix(workflow): adjust input and output styles (#866)
  console/frontend/src/components/workflow/nodes/node-common/index.tsx
Due: prettier-check, eslint-check

fix:fix RPA Deployment
  docker/astronAgent/astronRPA/.env
Due: none

fix(i18n): replace hardcoded Chinese with i18n key (#869)
  console/frontend/src/components/workflow/hooks/use-node-common.tsx
  console/frontend/src/components/workflow/nodes/agent/index.tsx
  console/frontend/src/components/workflow/nodes/node-common/index.tsx
  console/frontend/src/components/workflow/nodes/question-answer/index.tsx
  console/frontend/src/locales/en-En/workflow.ts
  console/frontend/src/locales/zh-ZH/workflow.ts
Due: prettier-check, eslint-check

refactor(plugin):add kafka-enable env config
  core/plugin/aitools/config.env
  core/plugin/link/config.env
  core/plugin/rpa/config.env
Due: none

chore: agent project model default max_tokens modify
  core/agent/config.env
  core/agent/domain/models/base.py
  core/agent/tests/test_base_llm_model.py
Due: isort-agent, flake8-agent, mypy-agent, pylint-agent

fix: resolve empty enterprise workspace ID issue
  console/frontend/src/hooks/use-space-type.ts
Due: prettier-check, eslint-check

refactor: migrate to lifespan and enhance http connectivity
  core/workflow/config.env
  core/workflow/extensions/fastapi/lifespan/__init__.py
  core/workflow/extensions/fastapi/lifespan/http_client.py
  core/workflow/extensions/fastapi/lifespan/utils.py
  core/workflow/infra/audit_system/audit_api/iflytek/ifly_audit_api.py
  core/workflow/main.py
  core/workflow/uv.lock
  docker/astronAgent/config/workflow/config.env
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

config: modify `HTTP_CLIENT_CONNECTION_POOL_SIZE` value
  docker/astronAgent/config/workflow/config.env
Due: none

feat: 添加 alembic 数据库迁移支持
  core/workflow/alembic/README.md
  core/workflow/alembic/alembic.ini
  core/workflow/alembic/env.py
  core/workflow/alembic/script.py.mako
  core/workflow/alembic/versions/2026_01_23_0929-b13356244aea_init_tables.py
  core/workflow/extensions/fastapi/lifespan/database_migration.py
  core/workflow/main.py
  core/workflow/pyproject.toml
  core/workflow/uv.lock
  docker/astronAgent/mysql/workflow.sql
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix: 修复代码格式
  core/workflow/alembic/env.py
  core/workflow/alembic/versions/2026_01_23_0929-b13356244aea_init_tables.py
  core/workflow/extensions/fastapi/lifespan/database_migration.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix: 添加类型注解和类型忽略注释
  core/workflow/alembic/env.py
  core/workflow/alembic/versions/2026_01_23_0929-b13356244aea_init_tables.py
  core/workflow/extensions/fastapi/lifespan/database_migration.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix:fix helm Deployment
  helm/astron-agent/files/casdoor/conf/init_data.json.template
  helm/astron-agent/files/config/workflow/config.env
  helm/astron-agent/files/mysql/workflow.sql
  makefiles/python.mk
Due: none

Revert "feat: 添加 alembic 数据库迁移支持"
  core/workflow/alembic/README.md
  core/workflow/alembic/alembic.ini
  core/workflow/alembic/env.py
  core/workflow/alembic/script.py.mako
  core/workflow/alembic/versions/2026_01_23_0929-b13356244aea_init_tables.py
  core/workflow/extensions/fastapi/lifespan/database_migration.py
  core/workflow/main.py
  core/workflow/pyproject.toml
  core/workflow/uv.lock
  docker/astronAgent/mysql/workflow.sql
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix:fix helm Deployment
  helm/astron-agent/files/mysql/workflow.sql
Due: none

fix: use correct PersonalitySceneTypeEnum for sceneType validation
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/enums/PersonalitySceneTypeEnum.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/PersonalityConfigServiceImpl.java
Due: spotless-check, checkstyle

feat: 添加 alembic 数据库迁移支持 - 使用 redis 分布式锁保证多实例迁移安全性 - 自动检测并处理旧数据库迁移场景
  core/workflow/alembic/README.md
  core/workflow/alembic/alembic.ini
  core/workflow/alembic/env.py
  core/workflow/alembic/script.py.mako
  core/workflow/alembic/versions/2026_01_23_0929-b13356244aea_init_tables.py
  core/workflow/extensions/fastapi/lifespan/database_migration.py
  core/workflow/main.py
  core/workflow/pyproject.toml
  core/workflow/uv.lock
  docker/astronAgent/mysql/workflow.sql
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

Feature/workflow mcp node (#891)
  console/frontend/src/assets/imgs/common/add-icon.svg
  console/frontend/src/assets/imgs/common/arrow-left.svg
  console/frontend/src/components/ui/back/index.tsx
  console/frontend/src/components/ui/btns/index.tsx
  console/frontend/src/components/ui/btns/primary-btn/index.tsx
  console/frontend/src/components/ui/btns/second-btn/index.tsx
  console/frontend/src/components/ui/empty-state/index.tsx
  console/frontend/src/components/ui/index.tsx
  console/frontend/src/components/ui/table/index.tsx
  console/frontend/src/components/workflow/constant/index.tsx
  console/frontend/src/components/workflow/hooks/use-flow-common.ts
  console/frontend/src/components/workflow/hooks/use-node-common.tsx
  console/frontend/src/components/workflow/modal/add-mcp/index.tsx
  console/frontend/src/components/workflow/nodes/agent/components/add-tool/components/mcp-detail.tsx
  console/frontend/src/components/workflow/nodes/agent/components/add-tool/index.tsx
  console/frontend/src/components/workflow/nodes/mcp/index.tsx
  console/frontend/src/components/workflow/store/flow-manager-function.ts
  console/frontend/src/components/workflow/store/use-flows-manager.ts
  console/frontend/src/components/workflow/types/drawer/chat-debugger.ts
  console/frontend/src/components/workflow/types/hooks/index.ts
  console/frontend/src/components/workflow/types/modal/add-flow.ts
  console/frontend/src/components/workflow/types/modal/add-mcp.ts
  console/frontend/src/components/workflow/types/modal/index.ts
  console/frontend/src/components/workflow/types/modal/set-default-value.ts
  console/frontend/src/components/workflow/types/nodes/agent.ts
  console/frontend/src/components/workflow/types/zustand/flowsManager/index.ts
  console/frontend/src/locales/en-En/common.ts
  console/frontend/src/locales/en-En/index.ts
  console/frontend/src/locales/en-En/mcp.ts
  console/frontend/src/locales/en-En/workflow.ts
  console/frontend/src/locales/zh-ZH/common.ts
  console/frontend/src/locales/zh-ZH/index.ts
  console/frontend/src/locales/zh-ZH/mcp.ts
  console/frontend/src/locales/zh-ZH/workflow.ts
  console/frontend/src/main.tsx
  console/frontend/src/pages/plugin-store/detail/index.tsx
  console/frontend/src/pages/workflow/components/flow-modal/index.tsx
  console/frontend/src/services/plugin.ts
  console/frontend/src/styles/ui.scss
  console/frontend/src/types/plugin-store.ts
Due: prettier-check, eslint-check

fix(node): handle exception with fallback logic (#894)
  console/frontend/src/components/workflow/nodes/llm/index.tsx
  console/frontend/src/components/workflow/utils/reactflowUtils.ts
  console/frontend/src/hooks/use-space-type.ts
Due: prettier-check, eslint-check

refactor: 使用 MySQL 错误码替代字符串匹配进行数据库迁移错误处理
  core/workflow/extensions/fastapi/lifespan/database_migration.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

feat: add mcp node
  console/backend/hub/src/main/resources/db/migration/V1.17__insert_workflow_node_config.sql
Due: none

fix array-of-objects value extraction returning only first element
  core/workflow/engine/entities/variable_pool.py
  core/workflow/engine/nodes/if_else/if_else_node.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

refactor: replace aiServiceClient with openAiModelProcessService
  console/backend/commons/src/main/java/com/iflytek/astron/console/commons/constant/ResponseEnum.java
  console/backend/commons/src/main/resources/messages_en.properties
  console/backend/commons/src/main/resources/messages_zh.properties
  console/backend/hub/pom.xml
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/OpenAiModelProcessService.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/BotAIServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/OpenAiModelProcessServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/PersonalityConfigServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowReleaseServiceImpl.java
  console/backend/hub/src/main/resources/application.yml
  console/backend/pom.xml
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/controller/tool/ToolBoxController.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/entity/vo/ToolBoxExportVo.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/tool/ToolBoxService.java
Due: spotless-check, checkstyle

refactor: integrate OpenAI-compatible AI ability chat service
  console/backend/commons/pom.xml
  console/backend/commons/src/main/java/com/iflytek/astron/console/commons/service/bot/OpenAiModelProcessService.java
  console/backend/commons/src/main/java/com/iflytek/astron/console/commons/service/bot/impl/OpenAiModelProcessServiceImpl.java
  console/backend/hub/pom.xml
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/BotAIServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/PersonalityConfigServiceImpl.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/PromptService.java
  docker/astronAgent/.env.example
  docker/astronAgent/docker-compose.yaml
  docs/CONFIGURATION.md
  docs/CONFIGURATION_zh.md
Due: spotless-check, checkstyle

refactor: move OpenAiModelProcessService to toolkit module
  console/backend/commons/src/main/java/com/iflytek/astron/console/commons/service/bot/OpenAiModelProcessService.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/BotAIServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/PersonalityConfigServiceImpl.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/OpenAiModelProcessService.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/PromptService.java
Due: spotless-check, checkstyle

refactor: enhance OpenAI streaming response handling with structured chat messages
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/OpenAiModelProcessService.java
Due: spotless-check, checkstyle

refactor: clean code block markers from streaming content
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/OpenAiModelProcessService.java
Due: spotless-check, checkstyle

fix: correct sequence number handling for OpenAI response processing
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/OpenAiModelProcessService.java
Due: spotless-check, checkstyle

fix(bot): adjust OpenAI model parameters and clean up sequence processing
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/OpenAiModelProcessService.java
Due: spotless-check, checkstyle

Path conditions:
  isort-knowledge: any of: ^core/knowledge/.*\.py$
  isort-workflow: any of: ^core/workflow/.*\.py$
  isort-agent: any of: ^core/agent/.*\.py$
  isort-plugin: any of: ^core/plugin/.*\.py$
  flake8-agent: any of: ^core/agent/.*\.py$
  flake8-workflow: any of: ^core/workflow/.*\.py$
  flake8-knowledge: any of: ^core/knowledge/.*\.py$
  flake8-plugin: any of: ^core/plugin/rpa/.*\.py$
  mypy-agent: any of: ^core/agent/.*\.py$
  mypy-workflow: any of: ^core/workflow/.*\.py$
  mypy-knowledge: any of: ^core/knowledge/.*\.py$
  mypy-database: any of: ^core/memory/database/.*\.py$
  mypy-aitools: any of: ^core/plugin/aitools/.*\.py$
  mypy-link: any of: ^core/plugin/link/.*\.py$
  mypy-rpa: any of: ^core/plugin/rpa/.*\.py$
  pylint-agent: any of: ^core/agent/.*\.py$
  pylint-workflow: any of: ^core/workflow/.*\.py$
  pylint-knowledge: any of: ^core/knowledge/.*\.py$
  pylint-database: any of: ^core/memory/database/.*\.py$
  pylint-aitools: any of: ^core/plugin/aitools/.*\.py$
  pylint-link: any of: ^core/plugin/link/.*\.py$
  pylint-rpa: any of: ^core/plugin/rpa/.*\.py$
  prettier-check: any of: ^console/frontend/src/.*\.(ts|tsx|js|jsx|json|md)$
  eslint-check: any of: ^console/frontend/src/.*\.(ts|tsx)$
  golangci-lint: any of: ^core/tenant/.*\.go$
  go-fmt-check: any of: ^core/tenant/.*\.go$
  go-imports-check: any of: ^core/tenant/.*\.go$
  go-vet: any of: ^core/tenant/.*\.go$
  spotless-check: any of: ^console/backend/.*\.java$
  checkstyle: any of: ^console/backend/.*\.java$
