Repository wowo-zZ/astron-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-knowledge, isort-workflow, isort-agent, isort-plugin, flake8-agent, flake8-workflow, flake8-knowledge, flake8-plugin, mypy-agent, mypy-workflow, mypy-knowledge, mypy-database, mypy-aitools, mypy-link, mypy-rpa, pylint-agent, pylint-workflow, pylint-knowledge, pylint-database, pylint-aitools, pylint-link, pylint-rpa, prettier-check, eslint-check, golangci-lint, go-fmt-check, go-imports-check, go-vet, spotless-check, checkstyle

isort-knowledge:
  name: Check Python imports (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-workflow:
  name: Check Python imports (workflow)
  entry: bash -c 'cd core/workflow && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-agent:
  name: Check Python imports (agent)
  entry: bash -c 'cd core/agent && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-plugin:
  name: Check Python imports (plugin)
  entry: bash -c 'cd core/plugin/aitools && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

flake8-agent:
  name: Lint Python with Flake8 (agent)
  entry: bash -c 'cd core/agent && python3 -m flake8 .'
  language: system
  pass_filenames: false

flake8-workflow:
  name: Lint Python with Flake8 (workflow)
  entry: bash -c 'cd core/workflow && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

flake8-knowledge:
  name: Lint Python with Flake8 (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

flake8-plugin:
  name: Lint Python with Flake8 (plugin)
  entry: bash -c 'cd core/plugin/rpa && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

mypy-agent:
  name: Type check Python with mypy (agent)
  entry: bash -c 'cd core/agent && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-workflow:
  name: Type check Python with mypy (workflow)
  entry: bash -c 'cd core/workflow && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-knowledge:
  name: Type check Python with mypy (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-database:
  name: Type check Python with mypy (database)
  entry: bash -c 'cd core/memory/database && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

eslint-check:
  name: Lint TypeScript with ESLint
  entry: bash -c 'cd console/frontend && npx eslint "src/**/*.{ts,tsx}" --quiet'
  language: system
  pass_filenames: false

fix: update SVG assets and enhance markdown rendering component (#761)
  console/frontend/src/assets/imgs/sidebar/agentLogoTextEn.svg
  console/frontend/src/assets/imgs/sidebar/agent_logo_text_en.svg
  console/frontend/src/components/markdown-render/index.tsx
  console/frontend/src/pages/release-management/trace-logs/ExportBtn/index.tsx
Due: prettier-check, eslint-check

chore/katex-style-eslint-fix (#767)
  console/frontend/eslint.config.js
  console/frontend/src/hooks/use-prompt.tsx
  console/frontend/src/main.tsx
  console/frontend/src/services/knowledge.ts
Due: prettier-check, eslint-check

fix(plugin):fix the ocr tools description content
  console/backend/hub/src/main/resources/db/migration/V1.12__insert_other_data.sql
  console/backend/hub/src/main/resources/db/migration/V1.16__insert_workflow_data.sql
  docker/astronAgent/mysql/link.sql
  helm/astron-agent/files/mysql/link.sql
Due: none

fix: Remove version existence check to allow re-publishing workflow versions
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowReleaseServiceImpl.java
Due: spotless-check, checkstyle

fix: Replace getAppIdByBotId with maasAppId for API sync
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowReleaseServiceImpl.java
Due: spotless-check, checkstyle

fix: Adjust appId assignment for different release types in API sync
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowReleaseServiceImpl.java
Due: spotless-check, checkstyle

docs:Modify readme documents
  README.md
  docs/README-zh.md
  helm/README.md
Due: none

fix: disable flyway migration scripts checksum by default (#774)
  console/backend/hub/src/main/resources/application.yml
Due: none

Fix/publish market bug, fix issue: https://github.com/iflytek/astron-agent/issues/649 (#773)
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowReleaseServiceImpl.java
Due: spotless-check, checkstyle

fix:Increase Nginx concurrency
  docker/astronAgent/docker-compose.yaml
  docker/astronAgent/nginx/nginx.conf
Due: none

feat: Enhance chat functionality and UI improvements (#778)
  console/frontend/src/hooks/use-chat.ts
  console/frontend/src/pages/chat-page/components/workflow-node-options.tsx
  console/frontend/src/pages/chat-page/index.tsx
Due: prettier-check, eslint-check

fix(aitools):fix the aitools sql
  docker/astronAgent/mysql/link.sql
  helm/astron-agent/files/mysql/link.sql
Due: none

refactor(chat): rename 'maasDatasetListStr' to 'maasDatasetList' in BotDebugRequest
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/controller/chat/ChatMessageController.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/dto/chat/BotDebugRequest.java
Due: spotless-check, checkstyle

refactor(chat): rename 'maasDatasetListStr' to 'maasDatasetList' in BotDebugRequest (#781)
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/controller/chat/ChatMessageController.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/dto/chat/BotDebugRequest.java
Due: spotless-check, checkstyle

fix(docs): align avatar and username in News section (#787)
  README.md
  docs/README-zh.md
Due: none

fix(link): fix kafka producer stuck issue
  core/plugin/link/app/start_server.py
  core/plugin/link/service/community/tools/http/execution_server.py
Due: isort-plugin, mypy-link, pylint-link

feat(openapi): add value field to SecurityScheme and set token in ToolBoxService
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/entity/core/openapi/SecurityScheme.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/tool/ToolBoxService.java
Due: spotless-check, checkstyle

feat(openapi): add value field to SecurityScheme and set token in ToolBoxService (#789)
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/entity/core/openapi/SecurityScheme.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/tool/ToolBoxService.java
Due: spotless-check, checkstyle

fix: correct streaming output of reasoning model and unify logging fields
  core/workflow/config.env
  core/workflow/engine/nodes/base_node.py
  core/workflow/extensions/otlp/log_trace/workflow_log.py
  docker/astronAgent/config/workflow/config.env
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

feat: improve config loading and add bearer auth support for ifly-v2
  core/workflow/configs/app_config.py
  core/workflow/engine/nodes/code/executor/ifly/ifly_executor.py
  core/workflow/engine/nodes/code/executor/ifly/ifly_executor_v2.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix: The code interpreter optimizes parameter validation
  core/workflow/configs/app_config.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

Bugfix/lanmao 1218 (#768)
  console/frontend/src/locales/en-En/openPlatform-En/releaseManagement.ts
  console/frontend/src/locales/zh-ZH/openPlatform-ZH/releaseManagement.ts
  console/frontend/src/pages/release-management/agent-list/index.tsx
  console/frontend/src/pages/space-page/agent-page/index.tsx
Due: prettier-check, eslint-check

fix(logging): prevent loguru logs from being lost in uvicorn multi-worker mode by isolating handlers per PID
  core/workflow/extensions/middleware/log/factory.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

chore: agent project overall optimization of link logs, models, and plugins
  core/agent/api/v1/base_api.py
  core/agent/config.env
  core/agent/domain/models/base.py
  core/agent/engine/nodes/base.py
  core/agent/engine/nodes/chat/chat_runner.py
  core/agent/engine/nodes/cot/cot_runner.py
  core/agent/engine/nodes/cot_process/cot_process_runner.py
  core/agent/main.py
  core/agent/service/builder/base_builder.py
  core/agent/service/plugin/knowledge.py
  core/agent/service/plugin/link.py
  core/agent/service/plugin/mcp.py
  core/agent/service/plugin/workflow.py
  core/agent/service/runner/workflow_agent_runner.py
  core/agent/tests/test_base_api.py
  core/agent/tests/test_base_builder.py
  core/agent/tests/test_base_llm_model.py
  core/agent/tests/test_runner_base_and_chat_cot.py
  core/agent/tests/test_workflow_agent_runner.py
Due: isort-agent, flake8-agent, mypy-agent, pylint-agent

chore: agent project online code review and issue fixing
  core/agent/api/schemas/completion_chunk.py
  core/agent/engine/nodes/cot/cot_runner.py
  core/agent/tests/test_base_builder.py
Due: isort-agent, flake8-agent, mypy-agent, pylint-agent

chore: agent project fix unit test assertion url error
  core/agent/tests/test_base_builder.py
Due: isort-agent, flake8-agent, mypy-agent, pylint-agent

chore: agent project dependency updates and static analysis issue fixes
  core/agent/main.py
  core/agent/pyproject.toml
  core/agent/uv.lock
Due: isort-agent, flake8-agent, mypy-agent, pylint-agent

feat: enhance if-else node with length and regex comparison operators
  core/workflow/engine/entities/variable_pool.py
  core/workflow/engine/nodes/if_else/if_else_node.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix(auth): improve performance by avoiding blocking sync functions in FastAPI auth middleware
  core/workflow/extensions/fastapi/middleware/auth.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix(auth): Switch to httx for http requests
  core/workflow/extensions/fastapi/middleware/auth.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

style: Code format adjustment
  core/workflow/extensions/fastapi/middleware/auth.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix: Resolve the unit test exception of fastapi auth middleware
  core/workflow/tests/extensions/fastapi/test_auth.py
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

refactor(api): remove unused api interfaces (#818)
  console/frontend/src/components/workflow/modal/select-llm-prompt/index.tsx
  console/frontend/src/components/workflow/nodes/llm/index.tsx
  console/frontend/src/components/workflow/store/flow-manager-function.ts
  console/frontend/src/components/workflow/store/use-flows-manager.ts
  console/frontend/src/components/workflow/types/modal/index.ts
  console/frontend/src/components/workflow/types/zustand/flowsManager/index.ts
  console/frontend/src/pages/workflow/components/flow-modal/index.tsx
  console/frontend/src/services/prompt.ts
Due: prettier-check, eslint-check

fix: Support TALK bot type in workflow condition check
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/chat/impl/BotChatServiceImpl.java
Due: spotless-check, checkstyle

fix: Support TALK bot type in workflow condition check
  console/backend/commons/src/main/java/com/iflytek/astron/console/commons/enums/bot/BotTypeEnum.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/listener/WorkflowBotPublishListener.java
Due: spotless-check, checkstyle

Fix/virtualman chat (#819)
  console/backend/commons/src/main/java/com/iflytek/astron/console/commons/enums/bot/BotTypeEnum.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/listener/WorkflowBotPublishListener.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/chat/impl/BotChatServiceImpl.java
Due: spotless-check, checkstyle

feat(http): extend timeout for debug tool request (#828)
  console/frontend/src/services/plugin.ts
Due: prettier-check, eslint-check

refactor(workflow): unify timeout & cancellation, watchdog injection, stream-node lifecycle
  core/workflow/engine/dsl_engine.py
  core/workflow/engine/entities/private_config.py
  core/workflow/engine/entities/workflow_dsl.py
  core/workflow/engine/nodes/agent/agent_node.py
  core/workflow/engine/nodes/base_node.py
  core/workflow/engine/nodes/decision/decision_node.py
  core/workflow/engine/nodes/end/end_node.py
  core/workflow/engine/nodes/flow/flow_node.py
  core/workflow/engine/nodes/iteration/iteration_node.py
  core/workflow/engine/nodes/knowledge_pro/knowledge_pro_node.py
  core/workflow/engine/nodes/llm/spark_llm_node.py
  core/workflow/engine/nodes/mcp/mcp_node.py
  core/workflow/engine/nodes/message/message_node.py
  core/workflow/engine/nodes/params_extractor/pe_node.py
  core/workflow/extensions/middleware/utils.py
  core/workflow/infra/providers/llm/chat_ai.py
  core/workflow/infra/providers/llm/iflytek_spark/spark_chat_llm.py
  core/workflow/pyproject.toml
  core/workflow/service/audit_service.py
  core/workflow/service/chat_service.py
  core/workflow/uv.lock
Due: isort-workflow, flake8-workflow, mypy-workflow, pylint-workflow

fix: Correct import path for WorkflowBotChatService and add specialSign
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/WorkflowBotChatService.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowBotChatServiceImpl.java
  console/backend/hub/src/test/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowBotChatServiceImplTest.java
Due: spotless-check, checkstyle

fix: Correct import path for WorkflowBotChatService and add specialSign
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/chat/impl/BotChatServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/WorkflowBotChatService.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowBotChatServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowReleaseServiceImpl.java
  console/backend/hub/src/test/java/com/iflytek/astron/console/hub/service/chat/impl/BotChatServiceImplUnitTest.java
  console/backend/hub/src/test/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowBotChatServiceImplTest.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/entity/dto/WorkflowReq.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/workflow/WorkflowService.java
Due: spotless-check, checkstyle

Path conditions:
  isort-knowledge: any of: ^core/knowledge/.*\.py$
  isort-workflow: any of: ^core/workflow/.*\.py$
  isort-agent: any of: ^core/agent/.*\.py$
  isort-plugin: any of: ^core/plugin/.*\.py$
  flake8-agent: any of: ^core/agent/.*\.py$
  flake8-workflow: any of: ^core/workflow/.*\.py$
  flake8-knowledge: any of: ^core/knowledge/.*\.py$
  flake8-plugin: any of: ^core/plugin/rpa/.*\.py$
  mypy-agent: any of: ^core/agent/.*\.py$
  mypy-workflow: any of: ^core/workflow/.*\.py$
  mypy-knowledge: any of: ^core/knowledge/.*\.py$
  mypy-database: any of: ^core/memory/database/.*\.py$
  mypy-aitools: any of: ^core/plugin/aitools/.*\.py$
  mypy-link: any of: ^core/plugin/link/.*\.py$
  mypy-rpa: any of: ^core/plugin/rpa/.*\.py$
  pylint-agent: any of: ^core/agent/.*\.py$
  pylint-workflow: any of: ^core/workflow/.*\.py$
  pylint-knowledge: any of: ^core/knowledge/.*\.py$
  pylint-database: any of: ^core/memory/database/.*\.py$
  pylint-aitools: any of: ^core/plugin/aitools/.*\.py$
  pylint-link: any of: ^core/plugin/link/.*\.py$
  pylint-rpa: any of: ^core/plugin/rpa/.*\.py$
  prettier-check: any of: ^console/frontend/src/.*\.(ts|tsx|js|jsx|json|md)$
  eslint-check: any of: ^console/frontend/src/.*\.(ts|tsx)$
  golangci-lint: any of: ^core/tenant/.*\.go$
  go-fmt-check: any of: ^core/tenant/.*\.go$
  go-imports-check: any of: ^core/tenant/.*\.go$
  go-vet: any of: ^core/tenant/.*\.go$
  spotless-check: any of: ^console/backend/.*\.java$
  checkstyle: any of: ^console/backend/.*\.java$
