Repository wowo-zZ/astron-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-knowledge, isort-workflow, isort-agent, isort-plugin, flake8-agent, flake8-workflow, flake8-knowledge, flake8-plugin, mypy-agent, mypy-workflow, mypy-knowledge, mypy-database, mypy-aitools, mypy-link, mypy-rpa, pylint-agent, pylint-workflow, pylint-knowledge, pylint-database, pylint-aitools, pylint-link, pylint-rpa, prettier-check, eslint-check, golangci-lint, go-fmt-check, go-imports-check, go-vet, spotless-check, checkstyle

isort-knowledge:
  name: Check Python imports (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-workflow:
  name: Check Python imports (workflow)
  entry: bash -c 'cd core/workflow && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-agent:
  name: Check Python imports (agent)
  entry: bash -c 'cd core/agent && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

isort-plugin:
  name: Check Python imports (plugin)
  entry: bash -c 'cd core/plugin/aitools && python3 -m isort --check-only --profile black .'
  language: system
  pass_filenames: false

flake8-agent:
  name: Lint Python with Flake8 (agent)
  entry: bash -c 'cd core/agent && python3 -m flake8 .'
  language: system
  pass_filenames: false

flake8-workflow:
  name: Lint Python with Flake8 (workflow)
  entry: bash -c 'cd core/workflow && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

flake8-knowledge:
  name: Lint Python with Flake8 (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

flake8-plugin:
  name: Lint Python with Flake8 (plugin)
  entry: bash -c 'cd core/plugin/rpa && python3 -m flake8 --max-line-length 88 --ignore=E203,W503,E501 --max-complexity 10 .'
  language: system
  pass_filenames: false

mypy-agent:
  name: Type check Python with mypy (agent)
  entry: bash -c 'cd core/agent && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-workflow:
  name: Type check Python with mypy (workflow)
  entry: bash -c 'cd core/workflow && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-knowledge:
  name: Type check Python with mypy (knowledge)
  entry: bash -c 'cd core/knowledge && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

mypy-database:
  name: Type check Python with mypy (database)
  entry: bash -c 'cd core/memory/database && python3 -m mypy --disallow-untyped-defs --disallow-incomplete-defs --check-untyped-defs --no-implicit-optional --ignore-missing-imports --explicit-package-bases .'
  language: system
  pass_filenames: false

eslint-check:
  name: Lint TypeScript with ESLint
  entry: bash -c 'cd console/frontend && npx eslint "src/**/*.{ts,tsx}" --quiet'
  language: system
  pass_filenames: false

style: format stream processing for better readability
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/OpenAiModelProcessService.java
Due: spotless-check, checkstyle

chore(db): update AI code generation prompt configurations
  console/backend/hub/src/main/resources/db/migration/V1.18__update_ai_code_prompts.sql
Due: none

docs(deployment): add AI ability configuration to deployment guides
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_GUIDE_zh.md
Due: none

refactor: correct content processing in OpenAiModelProcessService response
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/OpenAiModelProcessService.java
Due: spotless-check, checkstyle

Refactor/replace optimize model (#962)
  console/backend/commons/pom.xml
  console/backend/commons/src/main/java/com/iflytek/astron/console/commons/constant/ResponseEnum.java
  console/backend/commons/src/main/resources/messages_en.properties
  console/backend/commons/src/main/resources/messages_zh.properties
  console/backend/hub/pom.xml
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/BotAIServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/bot/impl/PersonalityConfigServiceImpl.java
  console/backend/hub/src/main/java/com/iflytek/astron/console/hub/service/workflow/impl/WorkflowReleaseServiceImpl.java
  console/backend/hub/src/main/resources/application.yml
  console/backend/hub/src/main/resources/db/migration/V1.18__update_ai_code_prompts.sql
  console/backend/pom.xml
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/controller/tool/ToolBoxController.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/entity/vo/ToolBoxExportVo.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/OpenAiModelProcessService.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/bot/PromptService.java
  console/backend/toolkit/src/main/java/com/iflytek/astron/console/toolkit/service/tool/ToolBoxService.java
  docker/astronAgent/.env.example
  docker/astronAgent/docker-compose.yaml
  docs/CONFIGURATION.md
  docs/CONFIGURATION_zh.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_GUIDE_zh.md
Due: spotless-check, checkstyle

add: database model Add redis config
  docker/astronAgent/config/database/config.env
  docker/astronAgent/docker-compose.yaml
Due: none

docs: fix quick-start grammar in README
  README.md
Due: none

docs: improve quick start wording and cloud access sentence
  README.md
Due: none

fix(link):Modify the unique key constraint for the Tools table.
  core/plugin/link/domain/entity/tool_schema.py
  core/plugin/link/pytest.ini
Due: isort-plugin, mypy-link, pylint-link

fix: update_sensitive_sql_info
  console/backend/hub/src/main/resources/db/migration/V1.19__update_sensitive_sql_info.sql
Due: none

feat(aitools):Add Polaris hot loading and asynchronous Kafka features
  core/plugin/aitools/app/start_server.py
  core/plugin/aitools/config.env
  core/plugin/aitools/pyproject.toml
  core/plugin/aitools/tests/test_adapters.py
  core/plugin/aitools/tests/test_aiokafka_factory.py
  core/plugin/aitools/tests/test_aiokafka_service.py
  core/plugin/aitools/tests/test_aitools_service_manager.py
  core/plugin/aitools/tests/test_api.py
  core/plugin/aitools/tests/test_api_meta.py
  core/plugin/aitools/tests/test_api_service.py
  core/plugin/aitools/tests/test_code_enums.py
  core/plugin/aitools/tests/test_endpoint_factory.py
  core/plugin/aitools/tests/test_exceptions.py
  core/plugin/aitools/tests/test_hooks.py
  core/plugin/aitools/tests/test_http_client.py
  core/plugin/aitools/tests/test_logger.py
  core/plugin/aitools/tests/test_main.py
  core/plugin/aitools/tests/test_otlp_utils.py
  core/plugin/aitools/tests/test_polaris_utils.py
  core/plugin/aitools/tests/test_service_scanner.py
  core/plugin/aitools/tests/test_start_server.py
  core/plugin/aitools/tests/test_task_factory.py
  core/plugin/aitools/tests/test_types.py
  core/plugin/aitools/utils/__init__.py
  core/plugin/aitools/utils/aiokafka_factory.py
  core/plugin/aitools/utils/aiokafka_service.py
  core/plugin/aitools/utils/initialize.py
  core/plugin/aitools/utils/oss_utils.py
  core/plugin/aitools/utils/otlp_utils.py
  core/plugin/aitools/utils/polaris_utils.py
  core/plugin/aitools/uv.lock
  docker/astronAgent/config/aitools/config.env
Due: isort-plugin, mypy-aitools, pylint-aitools

feat(link): add x-display response visibility filtering
  PR.md
  core/plugin/link/service/community/tools/http/execution_server.py
  core/plugin/link/tests/unit/test_response_filter.py
  core/plugin/link/utils/open_api_schema/response_filter.py
Due: isort-plugin, mypy-link, pylint-link

fix: show third party model name (#965)
  console/frontend/src/pages/chat-page/components/chat-side.tsx
Due: prettier-check, eslint-check

docs: update training camp credits and add MWC 2026 news
  README.md
  docs/README-zh.md
Due: none

Update event name for MWC Barcelona 2026
  README.md
Due: none

Update event description for MWC Barcelona 2026
  docs/README-zh.md
Due: none

Fix typo in MWC Barcelona event description
  docs/README-zh.md
Due: none

Fix duplicate entry for MWC Barcelona 2026
  README.md
Due: none

fix: error url
  docker/astronAgent/.env.example
Due: none

fix: error url (#978)
  docker/astronAgent/.env.example
Due: none

fix(docker):fix I_ABILITY_CHAT_BASE_URL
  docker/astronAgent/docker-compose.yaml
Due: none

fix(docker):fix I_ABILITY_CHAT_BASE_URL (#979)
  docker/astronAgent/docker-compose.yaml
Due: none

docs: update github workflow
  .github/workflows/build-push.yml
Due: none

fix: Avoid displaying the upload button incorrectly on the chat page 🐛 (#987)
  console/frontend/src/pages/chat-page/components/multi-upload-buttons.tsx
Due: prettier-check, eslint-check

Add Astron Agent & RPA Hefei Meetup to ongoing activities; restructure News section into Ongoing/Past (#990)
  README.md
  docs/README-zh.md
Due: none

feat(link):complete alembic migration for link service
  core/plugin/link/alembic.ini
  core/plugin/link/alembic/env.py
  core/plugin/link/alembic/versions/2026_03_06_0257-5c4f1b5ab83d_init.py
  core/plugin/link/alembic/versions/ebc506150457_init_tables.py
  core/plugin/link/app/start_server.py
  core/plugin/link/domain/models/utils.py
  core/plugin/link/extensions/__init__.py
  core/plugin/link/extensions/database_migration.py
  core/plugin/link/tests/unit/test_alembic_migration.py
Due: isort-plugin, mypy-link, pylint-link

Apply suggestion from @gemini-code-assist[bot]
  core/plugin/link/app/start_server.py
Due: isort-plugin, mypy-link, pylint-link

Path conditions:
  isort-knowledge: any of: ^core/knowledge/.*\.py$
  isort-workflow: any of: ^core/workflow/.*\.py$
  isort-agent: any of: ^core/agent/.*\.py$
  isort-plugin: any of: ^core/plugin/.*\.py$
  flake8-agent: any of: ^core/agent/.*\.py$
  flake8-workflow: any of: ^core/workflow/.*\.py$
  flake8-knowledge: any of: ^core/knowledge/.*\.py$
  flake8-plugin: any of: ^core/plugin/rpa/.*\.py$
  mypy-agent: any of: ^core/agent/.*\.py$
  mypy-workflow: any of: ^core/workflow/.*\.py$
  mypy-knowledge: any of: ^core/knowledge/.*\.py$
  mypy-database: any of: ^core/memory/database/.*\.py$
  mypy-aitools: any of: ^core/plugin/aitools/.*\.py$
  mypy-link: any of: ^core/plugin/link/.*\.py$
  mypy-rpa: any of: ^core/plugin/rpa/.*\.py$
  pylint-agent: any of: ^core/agent/.*\.py$
  pylint-workflow: any of: ^core/workflow/.*\.py$
  pylint-knowledge: any of: ^core/knowledge/.*\.py$
  pylint-database: any of: ^core/memory/database/.*\.py$
  pylint-aitools: any of: ^core/plugin/aitools/.*\.py$
  pylint-link: any of: ^core/plugin/link/.*\.py$
  pylint-rpa: any of: ^core/plugin/rpa/.*\.py$
  prettier-check: any of: ^console/frontend/src/.*\.(ts|tsx|js|jsx|json|md)$
  eslint-check: any of: ^console/frontend/src/.*\.(ts|tsx)$
  golangci-lint: any of: ^core/tenant/.*\.go$
  go-fmt-check: any of: ^core/tenant/.*\.go$
  go-imports-check: any of: ^core/tenant/.*\.go$
  go-vet: any of: ^core/tenant/.*\.go$
  spotless-check: any of: ^console/backend/.*\.java$
  checkstyle: any of: ^console/backend/.*\.java$
